<div class="form-container">
  <h3>Create a Task</h3>
  <form>
    <mat-form-field appearance="fill" class="form-container__field--full-width">
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field class="form-container__field--full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Ex. I need to work..."
        rows="7"
        class="form-container__input--no-resize"></textarea>
    </mat-form-field>
  </form>
  <div>
    <button mat-raised-button color="primary">Create</button>
  </div>
</div>
